/* a.text-white {
    color:  white;
} */
/*
https://icolorpalette.com/color/c7d3b4
Viktor
Viktor Olah
háttér
H 19:52
Viktor
Viktor Olah
írás kerete
Viktor
Viktor Olah
Viktor visszavont egy üzenetet.
Viktor
https://icolorpalette.com/color/FFF5D2
Viktor
Viktor Olah
a fejléc pedig
Viktor
Viktor Olah
https://icolorpalette.com/color/768376
Viktor
Viktor Olah
BEtűszín: fekete
Viktor
Betűtípus: Times new roman, fekete
*/
/* element.style {
    display: block;
    -webkit-user-select: none;
    margin: auto;
    cursor: zoom-out;
    background-color: hsl(0, 0%, 90%);
    transition: background-color 300ms;
}
img {
    width: 800px;
    aspect-ratio: auto 800 / 600;
    height: 600px;
} */

img.slider-img.mx-auto {
    object-fit: contain;
}

header, footer {
    background: #768376;
}
header > div.main-menu {
    background: transparent;
}
#title {
    min-width: 250px;
}

section.own-top{
    background: #c7d3b4;
}

div.wrapper {
    background: #c7d3b4;
    /* position: absolute; */
    /* z-index: 1; */
}

div.own-top-inner {
    background: #c7d3b4;
    /* width: fit-content; */
}

section#bemutatkozas, a#nevmezo, section, section.own-section /*.services-section*/ {
    background: #c7d3b4;
    /* padding-left: 5px;
    padding-right: 5px; */
}

#bemutatkozas  > .container, #kapcsolat  {
    background: #fff5d2;
}

thead.center-pos > th {
    text-align: center;
    padding-bottom: .5em;
}

table.ownTable {
    position: relative;
    margin: 15px;
}

table.ownTable tbody tr td {
    padding-left: 8px;
    padding-right: 5px;
    text-align: center;
    vertical-align:middle;
    min-height: 200px;
    padding-bottom: .5em;
}

/* .menu-link {
    color: black;
} */

.menu-link > span {
    color: black;
}


table.ownTable thead th {
    padding-left: 8px;
    padding-right: 5px;
    text-align: center;
    min-width: 50px;
}
body {
    background-color: transparent;/*#c7d3b4;*/
}
/* section{

    background: transparent;
} */

 ul, li, .row {

    background: transparent;
}

table.ownTable tbody tr { 
    margin-top: 15px;
    margin-bottom: 5px;    
}


div {
    background-color: transparent;
    /* aqua; */
}

section#ext-menu {
    background-color: #768376;
    color: black;
    position: fixed;
}

/* nav.navbarown {
    
    color: rgb(118,131,118) 
} */

nav div.mbr-table {
    background-color:  rgb(118,131,118);
}

p, li, a {
    font-family: 'Times New Roman', Times, serif;
    font-style: normal;
    font-stretch: normal;
    color: black;
}